*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
.DS_Store
/build
/captures
.externalNativeBuild
/shared/build
ios/AFS.xcodeproj/project.xcworkspace/xcuserdata/
/ios/AFS.xcodeproj/xcuserdata/
/ios/DerivedData/
